.login-container-one {
  max-width: 1200px;
  width: 400px;
  margin: auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #007bff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
}

.login-container-one h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #007bff;
}

.login-container-one label {
  color: #333;
  font-weight: 600;
}

.login-container-one .form-control {
  border-color: #007bff;
  border-radius: 8px;
  box-shadow: none;
}

.login-container-one .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.login-container-one .btn-primary {
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.login-container-one .btn-primary:hover {
  background-color: #0056b3;
}

.login-container-one .btn-primary:active {
  background-color: #003d80;
}

.login-container-one .btn-primary .bi {
  font-size: 20px;
  margin-right: 5px;
}
